<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class = "container">
			<nav>
				<ul class="nav pull-right">
					<% if signed_in?%>
						<li><%= link_to "Salir", logout_path, method: "delete" %>
					<% else %>
						<li><%= link_to "Entrar", root_path %></li>
					<% end %> 
				</ul>
			<nav>
		</div>
	</div>
</header>